/* Common CSS styles */
body {
    background-color: #e9e9e9;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h2, h3 {
    text-decoration: underline;
}

.container {
    background-color: rgba(255, 255, 255, 0.6);
    padding: 20px;
    text-align: center;
    border-style: solid;
    border-color: rgb(222, 221, 221);
    max-width: 900px; /* Use max-width instead of width */
    height: auto;
    margin: 0 auto;
    position: relative;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* Navbar styles with hover effect */
.navbar {
    background-color: #333;
    display: flex;
    justify-content: center;
    height: 50px;
    width: 80%;
    margin: 0 auto;
    border-style: dashed;
    border-color: tan;
}

.navbar a {
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.navbar a:hover {
    background-color: #8f1616;
    transition: 0.1s;
}

/* Button and Dropdown styles with hover effect */
.button-wrapper {
    position: relative;
    display: inline-block;
}

#dropdown-button {
    background-color: #333;
    color: white;
    border: none;
    padding: 14px 16px;
    cursor: pointer;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    text-decoration: underline;
    transition: background-color 0.2s;
}

#dropdown-button:hover {
    background-color: #8f1616;
}

#dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    width: 200px;
    min-height: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.button-wrapper:hover #dropdown-content {
    display: block;
}

#dropdown-content ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#dropdown-content li {
    padding: 10px 15px;
    text-decoration: none;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#dropdown-content li:hover {
    background-color: #8f1616;
    color: white;
}

/* Style for the image container */
.image-container {
    margin-top: 20px;
    text-align: center; /* Center the image */
}

img {
    width: 50%;
    height: auto;
    border-style: double;
    border-color: rgb(255, 0, 0);
    border-width: thick;
}
